.authentication__header {
  color: white;
  text-align: center;
}
.authentication__title{
  font-size: 1.4rem;
  font-weight: 600;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

